body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

#welcome {
    text-align: center;
    position: absolute;
    bottom: 350px;
    border: 1px solid black;
    background-color: aqua;
}

#welcome:hover {
    cursor: pointer;
}

#mainDisplay {
    position: relative;
    display: none;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projImg {
    display: flex;
    width: 50%;
    justify-content: center;
}

#screenshot {
    max-width: 100%;
}

#left_arrow, #right_arrow {
    width: 10%;
    object-fit: contain;
}

.projDescription {
    width: 40%;
    text-align: center;
}