body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

#welcome {
    text-align: center;
    position: absolute;
    bottom: 350px;
    border: 1px solid black;
}